body {
    background: pink;
    margin: auto;
}
.calculator_keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1px;
    padding: 10px 90px;
}

.calculator_display {
    padding: 20px 75px;
    text-align: right;
    font-size: 100px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

button {
    height: 80px;
    width: auto;
    background: #440026;
    color: white;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}